// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-2" {
    mode "1920x1080@144"
    scale 1
}

output "HDMI-A-1" {
    mode "1920x1080@60" // Set resolution and refresh rate
    position x=-1920 y=0
    scale 1 // No scaling (use 2 for HiDPI)
}
